@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }


.has_centered_text{
    text-align: center;
}

p{
    font-size: 1.05rem;
    line-height: 1.45em;
}

:root {
    --ion-font-family: 'Roboto', sans-serif;
    --ion-color-murphla: #007591;
    --ion-color-murphla-rgb: 0, 117, 145;
    --ion-color-murphla-contrast: #fff;
    --ion-color-murphla-contrast-rgb: 145, 28, 0;
    --ion-color-murphla-shade: #035569;
    --ion-color-murphla-tint: #0d94b6;
  }


.ion-color-murphla {
    --ion-color-base: var(--ion-color-murphla);
    --ion-color-base-rgb: var(--ion-color-murphla-rgb);
    --ion-color-contrast: var(--ion-color-murphla-contrast);
    --ion-color-contrast-rgb: var(--ion-color-murphla-contrast-rgb);
    --ion-color-shade: var(--ion-color-murphla-shade);
    --ion-color-tint: var(--ion-color-murphla-tint);
  }

  .pagetitlehach{
    padding: 0.25rem;
    text-align: center;
    line-height: 1em;
    margin-top: unset;
    margin-bottom: unset;
    margin: 0.5rem;
    font-weight: 500;
  }


  .fab-vertical-bottom {
    bottom: 30px;
}


.main_text_content{
    width: 100%;
    min-width: 300px;
    max-width: 350px;
    min-height: 10rem;
  }
